<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Historical Weather-Easy Access</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="static/css/style.css">

	<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>

	<div class="site-content">
		<div class="site-header">
			<div class="container">
				<a href="/" class="branding">
						<img src="static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Historical Weather</h1>
							<small class="site-description">Let us help you plan your events</small>
						</div>
					</a>

				<!-- Default snippet for navigation -->
				<div class="main-navigation">
					{%if username != ''%}
					<p><b>Welcome: {{username}}!</b></p>
					{%endif%}
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						{%if username == ''%}
						<li class="menu-item current-menu-item"><a data-toggle="modal" data-target="#loginModal">Sign In</a></li>
						<li class="menu-item current-menu-item"><a data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
						{%endif%} {%if username != ''%}
						<li class="menu-item current-menu-item"><a href="/signout">Sign Out</a></li>
						<li class="menu-item current-menu-item"><a href="/pastsearches">View Past Searches</a></li>
						{%endif%}
						<li class="menu-item current-menu-item"><a href="#about">About</a></li>
					</ul>
					<!-- .menu -->
				</div>
				<!-- .main-navigation -->

				<div class="mobile-navigation"></div>

			</div>
		</div>
		<!-- .site-header -->

		<!--****************Make a small instructions prompt here**************************-->
		<div class="hero" data-bg-image="static/images/cscape1.jpeg">
			<div class="container">
				{%if validLocation == False%}
				<h3 style="color:#cc0000;background-color:#1e202b;">Invalid Location: Please enter a location in either the "city, state" format or as a 5 letter zipcode.</h3>
				{% endif %} {%if validDate == False%}
				<h3 style="color:#cc0000;background-color:#1e202b;">Invalid Date: Please enter a future date in 'mm/dd/yyyy' format.</h3>
				{% endif %} {%if validLogInCredentials == False%}
				<h3 style="color:#cc0000;background-color:#1e202b;">Invalid Username or Password: Please enter a valid username and password.</h3>
				{% endif %}{%if validSignUpCredentials == False%}
				<h3 style="color:#cc0000;background-color:#1e202b;">Invalid Username: Please enter another username, that one is taken.</h3>
				{% endif %}
				<form method="post" action="/" class="find-location">
					<table>
						<!-- Make this a list-->
						<tr>
							<td>
								<!--<input type="text" size="50" placeholder="Enter a city and state, or a zipcode..."/>-->
								<input type="text" size="50" placeholder="Enter a city and state, or a zipcode..." name="locationInput" list="locations" required />
								<datalist id="locations">
									    {% for res in results %}
										<option value="{{res[0]}}, {{res[1]}}">
											<p>{{res[0]}}, {{res[1]}}</p> 
											<p style="font-size:0; visibility: hidden;"> {{res[2]}}</p>
										</option>
 										{% endfor %}
									</datalist>
							</td>
							<td>
								<p> </p>
							</td>
							<td>
								<div>
									<input type="date" name="dateInput" min="{{todaysDate}}" value="{{todaysDate}}" size="50" style="width: 200%;padding: 20px 50px 20px 20px;background: #1e202b;color: white;" required/>
								</div>
							</td>
							<td>
								<input type="submit" name="weatherSearch" value="Search Weather Data!">
							</td>
						</tr>
					</table>
				</form>

			</div>
		</div>
		{%if getLocation != "" and validDate%}
		<div class="forecast-table">
			<div class="container">
				<div class="forecast-container">
					<div class="today forecast">
						<div class="forecast-header">
							<div class="day">{{weekdayName}}</div>
							<div class="date">{{date}}</div>
						</div>
						<!-- .forecast-header -->
						<div class="forecast-content">
							<div class="location"><font size = "6">{{getLocation}}</font></div>
							<div class="degree">
								{%if currentTempBool == True%}
									<div class="num">{{currentTemp}}<sup>o</sup>F</div>	
								{% endif %}
								{%if currentTempBool == ""%}
									<div class="num">{{highTemp}}</div>				
								{% endif %}
								<div class="forecast-icon">
									{%if todayicon != "" and unixDate <= (TodaysDate + (86400*7)) %}
										<img src={{todayicon}} alt="" width=90>
									{% endif %}	
								</div>
							</div>

							{%if unixDate <= (TodaysDate + (86400*7)) %}
								<span><img src="static/images/icon-umberella@2x.png" alt=""><font size="6">{{precip}}%</font></span>
								<span><img src="static/images/icon-wind@2x.png" alt=""><font size="6">{{wind}}mph</font></span>
								<span><font size="6">Humidity: {{humidity}}%</font></span>
								<span><font size="6">High: {{highTemp}}°F</font></span>
								<span><font size="6">Low: {{lowTemp}}°F</font></span>
								<span><center><font size="6">Weather Type: {{wicon}}</font></center></span>
								<p>
								<span><center><font size = "6">Average Temperature: {{average}}°F</font></center></span>
								</p>
								<span><center><img src="static/images/{{timestr}}.png" alt=""></center></span>
							{% endif %}	
							{%if unixDate > (TodaysDate + (86400*7)) %}<p align="right">
								<center>
								<span><font size="6">High: {{highTemp}}°F</font></span>
								<span><font size="6">Low: {{lowTemp}}°F</font></span>
								</center>
								<p>
								<span><center><font size = "6">Average temperature for temperatures in graph: {{average}}°F</font></center></span>
								</p>
								<span><center><img src="static/images/{{timestr}}.png" alt=""></center></span>
							{% endif %}
						</div>
					</div>
					
				</div>
			</div>
		</div>
		{%endif%}
		<main class="main-content">
		</main>
		<!-- .main-content -->

		<footer class="site-footer">
			<div id="about" class="container">
				
						<p>
						<span><center><font size = "6">Welcome to the Historical Weather App!</font></center></span>
						<span><center><font size = "3">Are you trying to plan a wedding and would like to know if it’s more likely to rain or shine on your special day? </font></center></span>
						<span><center><font size = "3">Or planning any event at all and want to know what the weather prediction for that day is? </font></center></span>
						<span><center><font size = "3">Then this app is for you! </font></center></span>
						</p>
						<p>
						<span><center><font size = "3">The Historical Weather App was created for anyone looking for a future weather forecast on a specific day and location </font></center></span>
						<span><center><font size = "3">inside the United States.  This is accomplished by compiling years of weather data for that day and location, and returning </font></center></span>
						<span><center><font size = "3">the averages of the data to give a prediction of what the weather will be.  Of course you could be looking for the current </font></center></span>
						<span><center><font size = "3">forecast, and that’s here too!  Any date chosen that falls within a seven day range of the current date will result in the </font></center></span>
						<span><center><font size = "3">current forecast with more weather information about that day. </font></center></span>
						</p>
						<p>
						<span><center><font size = "3">To begin, enter a city name, zipcode or state into the location search bar.</font></center></span>
						<span><center><font size = "3">Next, select any date from the drop down calendar.</font></center></span>
						<span><center><font size = "3">Click on Search Weather Data! and your weather prediction will soon appear!</font></center></span>
						</p>
						<p></p>
						<p></p>

				<p class="colophon"><center>Copyright 2018. University of Mary Washington Computer Science 430. Designed by Charbel Marche, Rachel Mooney, and Dylon Garrett.</center></p>
			</div>
		</footer>
		<!-- .site-footer -->
	</div>

	<div id="signupModal" class="modal fade" style="">
		<div class="modal-dialog" style="position:relative;top:137px;width:1000px;height:350px;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Sign Up</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form method="post" class="form col-md-12 center-block" action="/">
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="newUsername" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-lg" name="newPassword" placeholder="Password">
						</div>
						<div class="form-group">
							<input type="submit" name="signup" value="Sign Up">
						</div>
					</form>
				</div>
				<div class="modal-footer">
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!--Login model-->
	<div id="loginModal" class="modal fade" style="">
		<div class="modal-dialog" style="position:relative;top:137px;width:1000px;height:350px;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form method="post" class="form col-md-12 center-block" action="/">
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="username" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-lg" name="password" placeholder="Password">
						</div>
						<div class="form-group">
							<input type="submit" name="signin" value="Sign In">
						</div>
					</form>
				</div>
				<div class="modal-footer">
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- Bootstrap core JavaScript -->
	<script src="static/jquery/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>